<?xml version="1.0" encoding="UTF-8"?>

<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>PIS_easy_learn</display-name>
	
	<servlet>
		<servlet-name>Content</servlet-name>
		<servlet-class>ua.lvil.lunp.app.servlet.ContentServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Content</servlet-name>
		<url-pattern>/learn</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Topic</servlet-name>
		<servlet-class>ua.lvil.lunp.app.servlet.TopicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Topic</servlet-name>
		<url-pattern>/topics</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>ua.lvil.lunp.app.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
